USE [master]
GO
/****** Object:  Database [WebSite1]    Script Date: 05/29/2013 01:01:47 ******/
CREATE DATABASE [WebSite1] ON  PRIMARY 
( NAME = N'WebSite1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\WebSite1.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WebSite1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\WebSite1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebSite1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebSite1]
GO
/****** Object:  Table [dbo].[Web_WareType]    Script Date: 05/29/2013 01:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Web_WareType](
	[WareType_ID] [int] IDENTITY(1,1) NOT NULL,
	[WareType_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Web_WareType] PRIMARY KEY CLUSTERED 
(
	[WareType_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Web_Ware]    Script Date: 05/29/2013 01:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Web_Ware](
	[Ware_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ware_TypeID] [varchar](50) NOT NULL,
	[Ware_Name] [varchar](50) NOT NULL,
	[Ware_Price] [varchar](50) NOT NULL,
	[Ware_DiscountPrice] [varchar](50) NULL,
	[Ware_Checked] [int] NULL,
	[Ware_AllSum] [int] NULL,
	[Ware_SellSum] [int] NULL,
	[Ware_Image] [varchar](100) NULL,
	[Ware_Time] [date] NULL,
	[Ware_Information] [varchar](1000) NULL,
 CONSTRAINT [PK_Web_Ware] PRIMARY KEY CLUSTERED 
(
	[Ware_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Web_User]    Script Date: 05/29/2013 01:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Web_User](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_Name] [varchar](50) NOT NULL,
	[User_PassWord] [varchar](50) NOT NULL,
	[User_Sex] [int] NULL,
	[User_Birth] [date] NULL,
	[User_Mail] [varchar](50) NULL,
	[User_ScarID] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Web_ShoppingInfo]    Script Date: 05/29/2013 01:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Web_ShoppingInfo](
	[Sinfo_ID] [int] IDENTITY(1,1) NOT NULL,
	[Sinfo_Num] [int] NOT NULL,
	[Sinfo_ScarID] [int] NOT NULL,
	[Sinfo_WareID] [int] NOT NULL,
 CONSTRAINT [PK_Web_ShoppingInfo] PRIMARY KEY CLUSTERED 
(
	[Sinfo_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Web_ShoppingCar]    Script Date: 05/29/2013 01:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Web_ShoppingCar](
	[Scar_ID] [int] IDENTITY(1,1) NOT NULL,
	[Scar_UserID] [int] NOT NULL,
	[Scar_Time] [date] NULL,
 CONSTRAINT [PK_Web_ShoppingCar] PRIMARY KEY CLUSTERED 
(
	[Scar_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Web_BuyInfo]    Script Date: 05/29/2013 01:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Web_BuyInfo](
	[Buy_ID] [int] IDENTITY(1,1) NOT NULL,
	[Buy_Ware_ID] [int] NOT NULL,
	[Buy_Info] [varchar](100) NULL,
 CONSTRAINT [PK_Web_BuyInfo] PRIMARY KEY CLUSTERED 
(
	[Buy_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Web_ShoppingInfo_Sinfo_Num]    Script Date: 05/29/2013 01:01:50 ******/
ALTER TABLE [dbo].[Web_ShoppingInfo] ADD  CONSTRAINT [DF_Web_ShoppingInfo_Sinfo_Num]  DEFAULT ((1)) FOR [Sinfo_Num]
GO
